:root{
    --mainColor:#FF00FF;
}
header{
    background-color:var(--mainColor);
    padding:1rem;
}
.container{
    width:95%;
    /* background-color: blue; */
    margin:0 auto;
    max-width: 1200px;
}
.container-flex{
    display: flex;
    justify-content:center;
}
.ListItem{
    margin: 2rem;
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family:Cambria;
}
.active{
    color: blue;
}
.container-all{
    display:flex;
}
.container-link{
    line-height: 2;
    background-color: blueviolet;
}
.container-scroll{
    overflow:scroll;
    white-space:nowrap;
    height: 500px;
    }

